.average-rating {
  margin-top: 150px;
  @media only screen and (min-width: 640px) {
    margin-top: 300px;
  }
  &__value {
    color: black;
    font-size: 64px;
    font-weight: 600;
    background: var(--col-cheesy-yellow);
    width: fit-content;
    margin: 0 auto;
    border-radius: 100%;
    padding: var(--spacing-xs);
  }

  &__text {
    color: #fed601;
    text-align: center;
    margin: var(--spacing-xxs);
  }
}
