.feedback-form {
  &__container {
    width: 80%;
    padding: var(--spacing-m);
    border-radius: 20px;
    background: var(--col-bg-dark);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.11);
    color: var(--col-offwhite);

    max-width: 80vw;
    margin: 0 6px;
    @media only screen and (min-width: 640px) {
      margin: var(--spacing-m);
      max-width: inherit;
    }
  }

  &--max-width {
    max-width: 100%;
  }

  &__legend {
    text-align: center;
    color: var(--col-offwhite);
  }
}
