.navigation-list {
  display: flex;
  justify-content: center;
  background: var(--col-cheesy-yellow);
  padding-bottom: var(--spacing-xxxl);

  &__ul {
    display: inherit;
    list-style: none;
    padding: 0;
  }
}
