.image-card {
  &__container {
    display: flex;
    flex-direction: column;
    position: relative;
    color: var(--default-text-color);
    /* background: var(--col-offdark); */
    width: 100vw;

    /* mob first */
    @media only screen and (min-width: 640px) {
      padding: var(--spacing-xs);
      width: inherit;
    }
  }

  &__img {
    max-width: 100%;
    margin-bottom: var(--spacing-m);
    border-radius: 10px;
  }

  &__title {
    font-size: var(--spacing-l);
    color: var(--col-bg-dark);
    margin: 0 0 1em 0;
    text-align: center;
  }

  &__description {
    font-size: 16px;
    padding: var(--spacing-xs);
    text-align: center;

    margin: var(--spacing-xxs);
    background: rgba(18, 18, 18, 0.05);
    border-radius: 10px;
  }
}
