.navigation-item {
  &__li {
    &:hover,
    &:focus {
      transition-duration: 0.2s;
      background: var(--col-nav-anchor-hover);
      border-radius: 5px;
    }
  }

  &__anchor-tag {
    display: block;
    padding: var(--spacing-xs);
    color: var(--col-bg-dark);
    font-weight: 600;

    &:link {
      text-decoration: none;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
      background: var(--col-nav-anchor-hover);
    }
  }
}
